.card img{
    max-height: 200px;
    }
    
    .cardbox{
        width: 60vw;
    }
    
    .cardboxcenter{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*doesnt work: tried to make the hover.color a little darker than default
    /* .list-group-item  .list-group-item-action :hover {
        background-color: lightgrey;
      
      } */ 

      .cardbox{
        width: 100%;
      }

      #asian, #bowls, #indian, #italian, #vegan, #burger{
        padding-left: 0;
        padding-right: 0%
      }

     