.card img{
    max-height: 200px;
    }
    
    .cardbox{
        width: 60vw;
    }
    
    .cardboxcenter{
        display: flex;
        justify-content: center;
        align-items: center;
    }